In [1]:
import pandas as pd 
import requests
from pprint import pprint
import time 
# from api_key import api_key
import sqlite3

In [2]:
clean_df = pd.read_csv("nyc_traffic_data_2019.csv")

In [20]:
clean_df.loc[clean_df["ID"] == 26]

,Unnamed: 0,ID,Segment_ID,Roadway_Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,...,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM,latitude,longitude,Month,Day,Year,Intersection
26,17477,26,116269,225+St,114+Rd,Dead+End,NB,10/5/2019,5.0,5.0,...,12,7,5,8,40.700963,-73.732432,10,5,2019,225+St+114+Rd
27,17896,26,116269,225+St,114+Rd,Dead+End,NB,10/6/2019,1.0,4.0,...,7,4,13,7,40.700963,-73.732432,10,6,2019,225+St+114+Rd
28,17928,26,116269,225+St,114+Rd,Dead+End,NB,10/7/2019,3.0,3.0,...,7,8,4,6,40.700963,-73.732432,10,7,2019,225+St+114+Rd
29,17961,26,116269,225+St,114+Rd,Dead+End,NB,10/8/2019,1.0,0.0,...,13,8,12,4,40.700963,-73.732432,10,8,2019,225+St+114+Rd
30,18089,26,116269,225+St,114+Rd,Dead+End,NB,10/9/2019,3.0,2.0,...,7,10,8,7,40.700963,-73.732432,10,9,2019,225+St+114+Rd
31,18154,26,116269,225+St,114+Rd,Dead+End,NB,10/10/2019,4.0,2.0,...,18,8,11,7,40.700963,-73.732432,10,10,2019,225+St+114+Rd
32,18511,26,116269,225+St,114+Rd,Dead+End,NB,10/11/2019,5.0,2.0,...,11,8,5,5,40.700963,-73.732432,10,11,2019,225+St+114+Rd
33,18608,26,116269,225+St,114+Rd,Dead+End,NB,10/12/2019,5.0,4.0,...,3,4,5,6,40.700963,-73.732432,10,12,2019,225+St+114+Rd
34,19152,26,116269,225+St,114+Rd,Dead+End,NB,10/13/2019,4.0,3.0,...,8,8,11,5,40.700963,-73.732432,10,13,2019,225+St+114+Rd
35,19248,26,116269,225+St,114+Rd,Dead+End,SB,10/5/2019,5.0,6.0,...,18,6,7,5,40.700963,-73.732432,10,5,2019,225+St+114+Rd
36,19312,26,116269,225+St,114+Rd,Dead+End,SB,10/6/2019,11.0,5.0,...,10,4,3,3,40.700963,-73.732432,10,6,2019,225+St+114+Rd
37,19408,26,116269,225+St,114+Rd,Dead+End,SB,10/7/2019,9.0,6.0,...,13,6,13,5,40.700963,-73.732432,10,7,2019,225+St+114+Rd
38,19441,26,116269,225+St,114+Rd,Dead+End,SB,10/8/2019,7.0,2.0,...,7,10,8,8,40.700963,-73.732432,10,8,2019,225+St+114+Rd
39,19473,26,116269,225+St,114+Rd,Dead+End,SB,10/9/2019,3.0,2.0,...,11,9,7,7,40.700963,-73.732432,10,9,2019,225+St+114+Rd
40,19634,26,116269,225+St,114+Rd,Dead+End,SB,10/10/2019,4.0,4.0,...,28,9,12,7,40.700963,-73.732432,10,10,2019,225+St+114+Rd
41,19699,26,116269,225+St,114+Rd,Dead+End,SB,10/11/2019,6.0,3.0,...,17,19,4,6,40.700963,-73.732432,10,11,2019,225+St+114+Rd
42,19892,26,116269,225+St,114+Rd,Dead+End,SB,10/12/2019,6.0,4.0,...,18,12,7,14,40.700963,-73.732432,10,12,2019,225+St+114+Rd
43,20214,26,116269,225+St,114+Rd,Dead+End,SB,10/13/2019,10.0,6.0,...,15,9,8,8,40.700963,-73.732432,10,13,2019,225+St+114+Rd

In [6]:
separator = "+"

In [11]:
#Create column with intersection so we can sum yearly totals for each intersection 
clean_df["Intersection"] = clean_df["Roadway_Name"].map(str) + separator + clean_df["From"]

In [29]:
clean_df["daily_total"] = clean_df.iloc[:, 7:31].sum(axis=1)

In [41]:
clean_df.columns

Index(['Unnamed: 0', 'ID', 'Segment_ID', 'Roadway_Name', 'From', 'To',
       'Direction', 'Date', '12:00-1:00 AM', '1:00-2:00AM', '2:00-3:00AM',
       '3:00-4:00AM', '4:00-5:00AM', '5:00-6:00AM', '6:00-7:00AM',
       '7:00-8:00AM', '8:00-9:00AM', '9:00-10:00AM', '10:00-11:00AM',
       '11:00-12:00PM', '12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM',
       '3:00-4:00PM', '4:00-5:00PM', '5:00-6:00PM', '6:00-7:00PM',
       '7:00-8:00PM', '8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM',
       '11:00-12:00AM', 'latitude', 'longitude', 'Month', 'Day', 'Year',
       'Intersection', 'daily_total'],
      dtype='object')

In [42]:
yearly_ttl_df = clean_df.groupby("Segment_ID").sum()

In [43]:
yearly_ttl_df.columns

Index(['Unnamed: 0', 'ID', '12:00-1:00 AM', '1:00-2:00AM', '2:00-3:00AM',
       '3:00-4:00AM', '4:00-5:00AM', '5:00-6:00AM', '6:00-7:00AM',
       '7:00-8:00AM', '8:00-9:00AM', '9:00-10:00AM', '10:00-11:00AM',
       '11:00-12:00PM', '12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM',
       '3:00-4:00PM', '4:00-5:00PM', '5:00-6:00PM', '6:00-7:00PM',
       '7:00-8:00PM', '8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM',
       '11:00-12:00AM', 'longitude', 'Month', 'Day', 'Year', 'daily_total'],
      dtype='object')

In [36]:
tp10yrly = yearly_ttl_df.nlargest(10, ['daily_total'])

In [47]:
tp10yrly.columns

Index(['Unnamed: 0', 'ID', '12:00-1:00 AM', '1:00-2:00AM', '2:00-3:00AM',
       '3:00-4:00AM', '4:00-5:00AM', '5:00-6:00AM', '6:00-7:00AM',
       '7:00-8:00AM', '8:00-9:00AM', '9:00-10:00AM', '10:00-11:00AM',
       '11:00-12:00PM', '12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM',
       '3:00-4:00PM', '4:00-5:00PM', '5:00-6:00PM', '6:00-7:00PM',
       '7:00-8:00PM', '8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM',
       '11:00-12:00AM', 'longitude', 'Month', 'Day', 'Year', 'daily_total'],
      dtype='object')

In [53]:
tp10yrly.drop('Month', 1, inplace=True)
tp10yrly.drop('Day', 1, inplace=True)
tp10yrly.drop('Year', 1, inplace=True)

In [54]:
tp10yrly

,Unnamed: 0,ID,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,3:00-4:00AM,4:00-5:00AM,5:00-6:00AM,6:00-7:00AM,7:00-8:00AM,...,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM,daily_total
Segment_ID,,,,,,,,,,,,,,,,,,,,,
251949,440163,3564,33759.0,22146.0,17509.0,16516.0,21392.0,35249.0,51691.0,57345.0,...,62821,62837,61345,62605,60161,55186,51035,45963,41144,1121449.0
179513,471915,5526,9927.0,6524.0,5351.0,5510.0,9017.0,20986.0,27646.0,26450.0,...,41298,39557,39226,38360,37390,28197,23593,18365,14810,606923.0
158938,487953,6516,11308.0,6874.0,4596.0,3686.0,3940.0,8482.0,19606.0,26264.0,...,37848,36633,35840,34971,30417,25383,23374,22697,16875,550750.0
22924,408249,1566,4628.0,3795.0,3062.0,3489.0,9038.0,18549.0,21215.0,21029.0,...,21898,21239,19764,17246,15245,13433,12330,9442,6427,360178.0
64059,238023,2889,3953.0,2668.0,1841.0,1729.0,2171.0,3415.0,7266.0,12479.0,...,27485,26114,24235,24946,21374,16249,12153,9909,6276,346751.0
32329,424935,2610,15811.0,13162.0,10857.0,9771.0,9889.0,12735.0,16065.0,17545.0,...,14505,13116,11420,13491,15407,17357,17807,18249,16750,337027.0
9009697,236808,2808,7492.0,5389.0,4188.0,3776.0,4520.0,6182.0,11632.0,15004.0,...,20980,21680,21147,19739,17208,15080,13401,12035,9598,328747.0
160109,484551,6300,4139.0,2402.0,1653.0,1493.0,2065.0,4629.0,10728.0,15270.0,...,22031,22498,22943,21129,16800,13312,9974,8145,5766,318763.0
143526,243774,3249,7420.0,4825.0,3470.0,2893.0,2865.0,5341.0,10813.0,14999.0,...,20795,20602,21305,20502,17551,14484,13799,12854,9651,313441.0
50823,231948,2547,9786.0,5935.0,4089.0,3857.0,4918.0,7016.0,9661.0,11532.0,...,21189,21191,20480,19212,19013,20043,17120,13893,11372,311427.0

In [58]:
tp10yrly = tp10yrly.reset_index()

In [59]:
#need to reinsert latitude and longitude data from clean_df 
tp10yrly

,Segment_ID,Unnamed: 0,ID,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,3:00-4:00AM,4:00-5:00AM,5:00-6:00AM,6:00-7:00AM,...,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM,daily_total
0,251949,440163,3564,33759.0,22146.0,17509.0,16516.0,21392.0,35249.0,51691.0,...,62821,62837,61345,62605,60161,55186,51035,45963,41144,1121449.0
1,179513,471915,5526,9927.0,6524.0,5351.0,5510.0,9017.0,20986.0,27646.0,...,41298,39557,39226,38360,37390,28197,23593,18365,14810,606923.0
2,158938,487953,6516,11308.0,6874.0,4596.0,3686.0,3940.0,8482.0,19606.0,...,37848,36633,35840,34971,30417,25383,23374,22697,16875,550750.0
3,22924,408249,1566,4628.0,3795.0,3062.0,3489.0,9038.0,18549.0,21215.0,...,21898,21239,19764,17246,15245,13433,12330,9442,6427,360178.0
4,64059,238023,2889,3953.0,2668.0,1841.0,1729.0,2171.0,3415.0,7266.0,...,27485,26114,24235,24946,21374,16249,12153,9909,6276,346751.0
5,32329,424935,2610,15811.0,13162.0,10857.0,9771.0,9889.0,12735.0,16065.0,...,14505,13116,11420,13491,15407,17357,17807,18249,16750,337027.0
6,9009697,236808,2808,7492.0,5389.0,4188.0,3776.0,4520.0,6182.0,11632.0,...,20980,21680,21147,19739,17208,15080,13401,12035,9598,328747.0
7,160109,484551,6300,4139.0,2402.0,1653.0,1493.0,2065.0,4629.0,10728.0,...,22031,22498,22943,21129,16800,13312,9974,8145,5766,318763.0
8,143526,243774,3249,7420.0,4825.0,3470.0,2893.0,2865.0,5341.0,10813.0,...,20795,20602,21305,20502,17551,14484,13799,12854,9651,313441.0
9,50823,231948,2547,9786.0,5935.0,4089.0,3857.0,4918.0,7016.0,9661.0,...,21189,21191,20480,19212,19013,20043,17120,13893,11372,311427.0

In [83]:
Segment_IDs = tp10yrly["Segment_ID"].tolist()

In [87]:
#List of segment ID's that can be matched to segment ID's in clean_df to find the latitude and the longitude 
Segment_IDs

[251949, 179513, 158938, 22924, 64059, 32329, 9009697, 160109, 143526, 50823]

In [85]:
coordinates={}

In [88]:
df_filt = clean_df[clean_df.Segment_ID.isin(Segment_IDs)]

In [93]:
df_filt.columns

Index(['Unnamed: 0', 'ID', 'Segment_ID', 'Roadway_Name', 'From', 'To',
       'Direction', 'Date', '12:00-1:00 AM', '1:00-2:00AM', '2:00-3:00AM',
       '3:00-4:00AM', '4:00-5:00AM', '5:00-6:00AM', '6:00-7:00AM',
       '7:00-8:00AM', '8:00-9:00AM', '9:00-10:00AM', '10:00-11:00AM',
       '11:00-12:00PM', '12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM',
       '3:00-4:00PM', '4:00-5:00PM', '5:00-6:00PM', '6:00-7:00PM',
       '7:00-8:00PM', '8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM',
       '11:00-12:00AM', 'latitude', 'longitude', 'Month', 'Day', 'Year',
       'Intersection', 'daily_total'],
      dtype='object')

In [96]:
segtemp = df_filt["Segment_ID"].unique()

In [97]:
lattemp = df_filt['latitude'].unique()

In [98]:
longtemp = df_filt['longitude'].unique()

In [100]:
lattemp.tolist()

['40.6853329',
 '40.7184369',
 '40.8198959',
 '40.6752064',
 '40.8179236',
 '40.6743114',
 '40.66555820000001',
 '40.60907359999999',
 '40.7375736',
 '40.7755364']

In [68]:
tp10yrly.columns

Index(['Segment_ID', 'Unnamed: 0', 'ID', '12:00-1:00 AM', '1:00-2:00AM',
       '2:00-3:00AM', '3:00-4:00AM', '4:00-5:00AM', '5:00-6:00AM',
       '6:00-7:00AM', '7:00-8:00AM', '8:00-9:00AM', '9:00-10:00AM',
       '10:00-11:00AM', '11:00-12:00PM', '12:00-1:00PM', '1:00-2:00PM',
       '2:00-3:00PM', '3:00-4:00PM', '4:00-5:00PM', '5:00-6:00PM',
       '6:00-7:00PM', '7:00-8:00PM', '8:00-9:00PM', '9:00-10:00PM',
       '10:00-11:00PM', '11:00-12:00AM', 'daily_total'],
      dtype='object')

In [101]:
tp10yrly["latitude"] = lattemp

In [102]:
longtemp.tolist()
tp10yrly["longitude"] = longtemp

In [103]:
tp10yrly

,Segment_ID,Unnamed: 0,ID,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,3:00-4:00AM,4:00-5:00AM,5:00-6:00AM,6:00-7:00AM,...,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM,daily_total,latitude,longitude
0,251949,440163,3564,33759.0,22146.0,17509.0,16516.0,21392.0,35249.0,51691.0,...,61345,62605,60161,55186,51035,45963,41144,1121449.0,40.6853329,-73.980713
1,179513,471915,5526,9927.0,6524.0,5351.0,5510.0,9017.0,20986.0,27646.0,...,39226,38360,37390,28197,23593,18365,14810,606923.0,40.7184369,-74.000535
2,158938,487953,6516,11308.0,6874.0,4596.0,3686.0,3940.0,8482.0,19606.0,...,35840,34971,30417,25383,23374,22697,16875,550750.0,40.8198959,-73.930559
3,22924,408249,1566,4628.0,3795.0,3062.0,3489.0,9038.0,18549.0,21215.0,...,19764,17246,15245,13433,12330,9442,6427,360178.0,40.6752064,-73.862901
4,64059,238023,2889,3953.0,2668.0,1841.0,1729.0,2171.0,3415.0,7266.0,...,24235,24946,21374,16249,12153,9909,6276,346751.0,40.8179236,-73.856217
5,32329,424935,2610,15811.0,13162.0,10857.0,9771.0,9889.0,12735.0,16065.0,...,11420,13491,15407,17357,17807,18249,16750,337027.0,40.6743114,-73.801369
6,9009697,236808,2808,7492.0,5389.0,4188.0,3776.0,4520.0,6182.0,11632.0,...,21147,19739,17208,15080,13401,12035,9598,328747.0,40.66555820000001,-73.729787
7,160109,484551,6300,4139.0,2402.0,1653.0,1493.0,2065.0,4629.0,10728.0,...,22943,21129,16800,13312,9974,8145,5766,318763.0,40.60907359999999,-74.151971
8,143526,243774,3249,7420.0,4825.0,3470.0,2893.0,2865.0,5341.0,10813.0,...,21305,20502,17551,14484,13799,12854,9651,313441.0,40.7375736,-74.009815
9,50823,231948,2547,9786.0,5935.0,4089.0,3857.0,4918.0,7016.0,9661.0,...,20480,19212,19013,20043,17120,13893,11372,311427.0,40.7755364,-73.991474

In [115]:
df_filt.loc[df_filt["Segment_ID"]==50823]

,Unnamed: 0,ID,Segment_ID,Roadway_Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,...,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM,latitude,longitude,Month,Day,Year,Intersection,daily_total
4320,25768,283,50823,South+Conduit+Avenue,Belmont+Avenue,Eldert+Lane,EB,9/28/2019,1810.0,1073.0,...,2341,1538,1459,40.6752064,-73.862901,9,28,2019,South+Conduit+Avenue+Belmont+Avenue,33156.0
4321,25769,283,50823,South+Conduit+Avenue,Belmont+Avenue,Eldert+Lane,EB,9/29/2019,988.0,762.0,...,1697,1432,1015,40.6752064,-73.862901,9,29,2019,South+Conduit+Avenue+Belmont+Avenue,30422.0
4322,25770,283,50823,South+Conduit+Avenue,Belmont+Avenue,Eldert+Lane,EB,9/30/2019,824.0,510.0,...,1573,1280,949,40.6752064,-73.862901,9,30,2019,South+Conduit+Avenue+Belmont+Avenue,32606.0
4323,25771,283,50823,South+Conduit+Avenue,Belmont+Avenue,Eldert+Lane,EB,10/1/2019,854.0,456.0,...,1999,1579,1177,40.6752064,-73.862901,10,1,2019,South+Conduit+Avenue+Belmont+Avenue,37864.0
4324,25772,283,50823,South+Conduit+Avenue,Belmont+Avenue,Eldert+Lane,EB,10/2/2019,872.0,474.0,...,2031,1560,1166,40.6752064,-73.862901,10,2,2019,South+Conduit+Avenue+Belmont+Avenue,38130.0
4325,25773,283,50823,South+Conduit+Avenue,Belmont+Avenue,Eldert+Lane,EB,10/3/2019,832.0,435.0,...,1965,1596,1187,40.6752064,-73.862901,10,3,2019,South+Conduit+Avenue+Belmont+Avenue,37551.0
4326,25774,283,50823,South+Conduit+Avenue,Belmont+Avenue,Eldert+Lane,EB,10/4/2019,751.0,415.0,...,1806,1902,1991,40.6752064,-73.862901,10,4,2019,South+Conduit+Avenue+Belmont+Avenue,38172.0
4327,25775,283,50823,South+Conduit+Avenue,Belmont+Avenue,Eldert+Lane,EB,10/5/2019,1870.0,1084.0,...,2110,1608,1414,40.6752064,-73.862901,10,5,2019,South+Conduit+Avenue+Belmont+Avenue,33041.0
4328,25776,283,50823,South+Conduit+Avenue,Belmont+Avenue,Eldert+Lane,EB,10/6/2019,985.0,726.0,...,1598,1398,1014,40.6752064,-73.862901,10,6,2019,South+Conduit+Avenue+Belmont+Avenue,30485.0

In [ ]:
[251949, 179513, 158938, 22924, 64059, 32329, 9009697, 160109, 143526, 50823]

In [116]:
segment = [251949, 179513, 158938, 22924, 64059, 32329, 9009697, 160109, 143526, 50823]
latitude = [40.8198959, 40.8179236, 40.7755364, 40.6853329, 40.66555820000001, 	40.7184369, 40.6743114, 40.60907359999999, 40.7375736, 40.6752064]
longitude = [-73.930559, -73.856217, -73.991474, -73.980713, -73.729787, -74.000535, 	-73.801369, 40.60907359999999, 	-74.009815, -73.862901]

In [117]:
tp10yrly["latitude"] = latitude

In [118]:
tp10yrly['longitude'] = longitude

In [119]:
#contains the top 10 most trafficked intersections in NYC with yearly_totals 
tp10yrly

,Segment_ID,Unnamed: 0,ID,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,3:00-4:00AM,4:00-5:00AM,5:00-6:00AM,6:00-7:00AM,...,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM,daily_total,latitude,longitude
0,251949,440163,3564,33759.0,22146.0,17509.0,16516.0,21392.0,35249.0,51691.0,...,61345,62605,60161,55186,51035,45963,41144,1121449.0,40.819896,-73.930559
1,179513,471915,5526,9927.0,6524.0,5351.0,5510.0,9017.0,20986.0,27646.0,...,39226,38360,37390,28197,23593,18365,14810,606923.0,40.817924,-73.856217
2,158938,487953,6516,11308.0,6874.0,4596.0,3686.0,3940.0,8482.0,19606.0,...,35840,34971,30417,25383,23374,22697,16875,550750.0,40.775536,-73.991474
3,22924,408249,1566,4628.0,3795.0,3062.0,3489.0,9038.0,18549.0,21215.0,...,19764,17246,15245,13433,12330,9442,6427,360178.0,40.685333,-73.980713
4,64059,238023,2889,3953.0,2668.0,1841.0,1729.0,2171.0,3415.0,7266.0,...,24235,24946,21374,16249,12153,9909,6276,346751.0,40.665558,-73.729787
5,32329,424935,2610,15811.0,13162.0,10857.0,9771.0,9889.0,12735.0,16065.0,...,11420,13491,15407,17357,17807,18249,16750,337027.0,40.718437,-74.000535
6,9009697,236808,2808,7492.0,5389.0,4188.0,3776.0,4520.0,6182.0,11632.0,...,21147,19739,17208,15080,13401,12035,9598,328747.0,40.674311,-73.801369
7,160109,484551,6300,4139.0,2402.0,1653.0,1493.0,2065.0,4629.0,10728.0,...,22943,21129,16800,13312,9974,8145,5766,318763.0,40.609074,40.609074
8,143526,243774,3249,7420.0,4825.0,3470.0,2893.0,2865.0,5341.0,10813.0,...,21305,20502,17551,14484,13799,12854,9651,313441.0,40.737574,-74.009815
9,50823,231948,2547,9786.0,5935.0,4089.0,3857.0,4918.0,7016.0,9661.0,...,20480,19212,19013,20043,17120,13893,11372,311427.0,40.675206,-73.862901

In [120]:
tp10yrly.columns

Index(['Segment_ID', 'Unnamed: 0', 'ID', '12:00-1:00 AM', '1:00-2:00AM',
       '2:00-3:00AM', '3:00-4:00AM', '4:00-5:00AM', '5:00-6:00AM',
       '6:00-7:00AM', '7:00-8:00AM', '8:00-9:00AM', '9:00-10:00AM',
       '10:00-11:00AM', '11:00-12:00PM', '12:00-1:00PM', '1:00-2:00PM',
       '2:00-3:00PM', '3:00-4:00PM', '4:00-5:00PM', '5:00-6:00PM',
       '6:00-7:00PM', '7:00-8:00PM', '8:00-9:00PM', '9:00-10:00PM',
       '10:00-11:00PM', '11:00-12:00AM', 'daily_total', 'latitude',
       'longitude'],
      dtype='object')

In [124]:
tp10clean = tp10yrly.drop(tp10yrly.columns[range(3,26)], axis =1)

In [125]:
tp10clean.columns

Index(['Segment_ID', 'Unnamed: 0', 'ID', '11:00-12:00AM', 'daily_total',
       'latitude', 'longitude'],
      dtype='object')

In [128]:
tp10clean.drop('11:00-12:00AM', axis=1, inplace=True)

In [131]:
tp10clean.rename(columns={"daily_total" : "yearly_total"}, inplace=True)

In [148]:
tp10clean.drop("Unnamed: 0", axis=1, inplace=True)

In [150]:
#Clean the dataframe and format for loading into sqlite database 
tp10clean.drop("ID", axis=1, inplace=True)

In [138]:
!pip install geopandas

Requirement already satisfied: geopandas in c:\users\ymoxl\anaconda3\lib\site-packages (0.8.1)
Requirement already satisfied: pyproj>=2.2.0 in c:\users\ymoxl\anaconda3\lib\site-packages (from geopandas) (2.6.1.post1)
Requirement already satisfied: fiona in c:\users\ymoxl\anaconda3\lib\site-packages (from geopandas) (1.8.16)
Requirement already satisfied: shapely in c:\users\ymoxl\anaconda3\lib\site-packages (from geopandas) (1.7.1)
Requirement already satisfied: pandas>=0.23.0 in c:\users\ymoxl\anaconda3\lib\site-packages (from geopandas) (1.1.2)
Requirement already satisfied: click-plugins>=1.0 in c:\users\ymoxl\anaconda3\lib\site-packages (from fiona->geopandas) (1.1.1)
Requirement already satisfied: six>=1.7 in c:\users\ymoxl\anaconda3\lib\site-packages (from fiona->geopandas) (1.15.0)
Requirement already satisfied: attrs>=17 in c:\users\ymoxl\anaconda3\lib\site-packages (from fiona->geopandas) (19.3.0)
Requirement already satisfied: cligj>=0.5 in c:\users\ymoxl\anaconda3\lib\site-packages (from fiona->geopandas) (0.5.0)
Requirement already satisfied: munch in c:\users\ymoxl\anaconda3\lib\site-packages (from fiona->geopandas) (2.5.0)
Requirement already satisfied: gdal~=3.1.2 in c:\users\ymoxl\anaconda3\lib\site-packages (from fiona->geopandas) (3.1.3)
Requirement already satisfied: click>=4.0 in c:\users\ymoxl\anaconda3\lib\site-packages (from fiona->geopandas) (7.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\ymoxl\anaconda3\lib\site-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\ymoxl\anaconda3\lib\site-packages (from pandas>=0.23.0->geopandas) (1.19.1+mkl)
Requirement already satisfied: pytz>=2017.2 in c:\users\ymoxl\anaconda3\lib\site-packages (from pandas>=0.23.0->geopandas) (2019.3)

In [147]:
import shapely