In [3]:
import pandas as pd 
import requests
from pprint import pprint
import time 
# from api_key import api_key
import sqlite3
import datetime

In [4]:
#Load in CSV
df = pd.read_csv("nyc_traffic_data_2019.csv")

In [5]:
#Look at info 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5841 entries, 0 to 5840
Data columns (total 37 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     5841 non-null   int64
 1   ID             5841 non-null   int64
 2   Segment_ID     5841 non-null   int64
 3   Roadway_Name   5841 non-null   object
 4   From           5841 non-null   object
 5   To             5841 non-null   object
 6   Direction      5841 non-null   object
 7   Date           5841 non-null   object
 8   12:00-1:00 AM  5841 non-null   float64
 9   1:00-2:00AM    5841 non-null   float64
 10  2:00-3:00AM    5841 non-null   float64
 11  3:00-4:00AM    5841 non-null   float64
 12  4:00-5:00AM    5841 non-null   float64
 13  5:00-6:00AM    5841 non-null   float64
 14  6:00-7:00AM    5841 non-null   float64
 15  7:00-8:00AM    5841 non-null   float64
 16  8:00-9:00AM    5841 non-null   float64
 17  9:00-10:00AM   5841 non-null   float64
 18  10:00-11:00AM  5841 non-null   float64
 19  11:00-12:00PM  5841 non-null   float64
 20  12:00-1:00PM   5841 non-null   int64
 21  1:00-2:00PM    5841 non-null   int64
 22  2:00-3:00PM    5841 non-null   int64
 23  3:00-4:00PM    5841 non-null   int64
 24  4:00-5:00PM    5841 non-null   int64
 25  5:00-6:00PM    5841 non-null   int64
 26  6:00-7:00PM    5841 non-null   int64
 27  7:00-8:00PM    5841 non-null   int64
 28  8:00-9:00PM    5841 non-null   int64
 29  9:00-10:00PM   5841 non-null   int64
 30  10:00-11:00PM  5841 non-null   int64
 31  11:00-12:00AM  5841 non-null   int64
 32  latitude       5841 non-null   object
 33  longitude      5841 non-null   float64
 34  Month          5841 non-null   int64
 35  Day            5841 non-null   int64
 36  Year           5841 non-null   int64
dtypes: float64(13), int64(18), object(6)
memory usage: 1.6+ MB

In [6]:
#Recast date object as a datetime object 
df["Date"] = pd.to_datetime(df["Date"])

In [7]:
df["Date"].head()

0   2019-10-06
1   2019-10-07
2   2019-10-08
3   2019-10-09
4   2019-10-10
Name: Date, dtype: datetime64[ns]

In [8]:
#Look only at November 
mask = (df['Date'] > '2019-10-01') & (df['Date'] <= '2019-10-31')
october_df = df.loc[mask]

In [9]:
#Check dataframe
october_df.head(10)

,Unnamed: 0,ID,Segment_ID,Roadway_Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,...,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM,latitude,longitude,Month,Day,Year
0,793,38,130569,32+Ave,86+St,Alley,WB,2019-10-06,127.0,114.0,...,187,133,123,126,73,40.7580867,-73.882022,10,6,2019
1,1494,38,130569,32+Ave,86+St,Alley,WB,2019-10-07,68.0,40.0,...,197,167,117,102,79,40.7580867,-73.882022,10,7,2019
2,2006,38,130569,32+Ave,86+St,Alley,WB,2019-10-08,83.0,42.0,...,188,171,127,100,93,40.7580867,-73.882022,10,8,2019
3,2616,38,130569,32+Ave,86+St,Alley,WB,2019-10-09,57.0,39.0,...,346,160,97,117,96,40.7580867,-73.882022,10,9,2019
4,2940,38,130569,32+Ave,86+St,Alley,WB,2019-10-10,72.0,45.0,...,288,176,161,101,103,40.7580867,-73.882022,10,10,2019
5,3071,38,130569,32+Ave,86+St,Alley,WB,2019-10-11,74.0,76.0,...,292,273,211,166,195,40.7580867,-73.882022,10,11,2019
6,3362,38,130569,32+Ave,86+St,Alley,WB,2019-10-12,133.0,83.0,...,197,152,162,171,144,40.7580867,-73.882022,10,12,2019
7,3849,38,130569,32+Ave,86+St,Alley,WB,2019-10-13,146.0,125.0,...,216,175,138,124,84,40.7580867,-73.882022,10,13,2019
8,4203,85,56878,Archer+Ave,143+St,144+Pl,EB,2019-10-10,108.0,50.0,...,182,188,229,203,148,40.6995881,-73.810606,10,10,2019
9,4558,85,56878,Archer+Ave,143+St,144+Pl,EB,2019-10-11,116.0,74.0,...,207,181,218,197,163,40.6995881,-73.810606,10,11,2019

In [10]:
#Create daily total count: 
october_df["daily_total"] = df.iloc[:, 7:31].sum(axis=1)

In [13]:
totals = october_df.groupby("Segment_ID").sum()

In [17]:
totals.reset_index(inplace=True)

In [22]:
#Find top 10 intersections in october 
tp10 = totals.nlargest(10, ["daily_total"])

In [26]:
tp10_dict = dict(zip(tp10.Segment_ID, tp10.daily_total))

In [27]:
tp10_dict

{158938: 550750.0,
 64059: 346751.0,
 32329: 337027.0,
 9009697: 328747.0,
 143526: 313441.0,
 249813: 310638.0,
 28973: 310330.0,
 22096: 303341.0,
 229411: 302821.0,
 36112: 302136.0}

In [30]:
intersection_list = []
for key in tp10_dict:
    a = df.loc[df["Segment_ID"] == key]
    intersection_list.append(a["latitude"])
    intersection_list.append(a["longitude"])

In [31]:
intersection_list

[5652    40.7755364
 5653    40.7755364
 5654    40.7755364
 5655    40.7755364
 5656    40.7755364
 5657    40.7755364
 5658    40.7755364
 5659    40.7755364
 5660    40.7755364
 5661    40.7755364
 5662    40.7755364
 5663    40.7755364
 5664    40.7755364
 5665    40.7755364
 5666    40.7755364
 5667    40.7755364
 5668    40.7755364
 5669    40.7755364
 Name: latitude, dtype: object,
 5652   -73.991474
 5653   -73.991474
 5654   -73.991474
 5655   -73.991474
 5656   -73.991474
 5657   -73.991474
 5658   -73.991474
 5659   -73.991474
 5660   -73.991474
 5661   -73.991474
 5662   -73.991474
 5663   -73.991474
 5664   -73.991474
 5665   -73.991474
 5666   -73.991474
 5667   -73.991474
 5668   -73.991474
 5669   -73.991474
 Name: longitude, dtype: float64,
 4995    40.66555820000001
 4996    40.66555820000001
 4997    40.66555820000001
 4998    40.66555820000001
 4999    40.66555820000001
 5000    40.66555820000001
 5001    40.66555820000001
 5002    40.66555820000001
 5003    40.66555820000001
 Name: latitude, dtype: object,
 4995   -73.729787
 4996   -73.729787
 4997   -73.729787
 4998   -73.729787
 4999   -73.729787
 5000   -73.729787
 5001   -73.729787
 5002   -73.729787
 5003   -73.729787
 Name: longitude, dtype: float64,
 2151    40.7184369
 2152    40.7184369
 2153    40.7184369
 2154    40.7184369
 2155    40.7184369
 2156    40.7184369
 2157    40.7184369
 2158    40.7184369
 2159    40.7184369
 2160    40.7184369
 2161    40.7184369
 2162    40.7184369
 2163    40.7184369
 2164    40.7184369
 2165    40.7184369
 2166    40.7184369
 2167    40.7184369
 2168    40.7184369
 Name: latitude, dtype: object,
 2151   -74.000535
 2152   -74.000535
 2153   -74.000535
 2154   -74.000535
 2155   -74.000535
 2156   -74.000535
 2157   -74.000535
 2158   -74.000535
 2159   -74.000535
 2160   -74.000535
 2161   -74.000535
 2162   -74.000535
 2163   -74.000535
 2164   -74.000535
 2165   -74.000535
 2166   -74.000535
 2167   -74.000535
 2168   -74.000535
 Name: longitude, dtype: float64,
 4860    40.6743114
 4861    40.6743114
 4862    40.6743114
 4863    40.6743114
 4864    40.6743114
 4865    40.6743114
 4866    40.6743114
 4867    40.6743114
 4868    40.6743114
 Name: latitude, dtype: object,
 4860   -73.801369
 4861   -73.801369
 4862   -73.801369
 4863   -73.801369
 4864   -73.801369
 4865   -73.801369
 4866   -73.801369
 4867   -73.801369
 4868   -73.801369
 Name: longitude, dtype: float64,
 5634    40.7375736
 5635    40.7375736
 5636    40.7375736
 5637    40.7375736
 5638    40.7375736
 5639    40.7375736
 5640    40.7375736
 5641    40.7375736
 5642    40.7375736
 Name: latitude, dtype: object,
 5634   -74.009815
 5635   -74.009815
 5636   -74.009815
 5637   -74.009815
 5638   -74.009815
 5639   -74.009815
 5640   -74.009815
 5641   -74.009815
 5642   -74.009815
 Name: longitude, dtype: float64,
 4869    40.6379863
 4870    40.6379863
 4871    40.6379863
 4872    40.6379863
 4873    40.6379863
 4874    40.6379863
 4875    40.6379863
 4876    40.6379863
 4877    40.6379863
 Name: latitude, dtype: object,
 4869   -73.741156
 4870   -73.741156
 4871   -73.741156
 4872   -73.741156
 4873   -73.741156
 4874   -73.741156
 4875   -73.741156
 4876   -73.741156
 4877   -73.741156
 Name: longitude, dtype: float64,
 3015    40.6608941
 3016    40.6608941
 3017    40.6608941
 3018    40.6608941
 3019    40.6608941
 3020    40.6608941
 3021    40.6608941
 3022    40.6608941
 3023    40.6608941
 3024    40.6608941
 3025    40.6608941
 3026    40.6608941
 3027    40.6608941
 3028    40.6608941
 3029    40.6608941
 3030    40.6608941
 3031    40.6608941
 3032    40.6608941
 Name: latitude, dtype: object,
 3015   -73.962123
 3016   -73.962123
 3017   -73.962123
 3018   -73.962123
 3019   -73.962123
 3020   -73.962123
 3021   -73.962123
 3022   -73.962123
 3023   -73.962123
 3024   -73.962123
 3025   -73.962123
 3026   -73.962123
 3027   -73.962123
 3028   -73.962123
 3029   -73.962123
 3030   -73.962123
 3031   -73.962123
 3032   -73.962123
 Name: longitude, dtype: float64,
 3357    40.6748361
 3358    40.6748361
 3359    40.6748361
 3360    40.6748361
 3361    40.6748361
 3362    40.6748361
 3363    40.6748361
 3364    40.6748361
 3365    40.6748361
 Name: latitude, dtype: object,
 3357   -74.000681
 3358   -74.000681
 3359   -74.000681
 3360   -74.000681
 3361   -74.000681
 3362   -74.000681
 3363   -74.000681
 3364   -74.000681
 3365   -74.000681
 Name: longitude, dtype: float64,
 5670    40.7171204
 5671    40.7171204
 5672    40.7171204
 5673    40.7171204
 5674    40.7171204
 5675    40.7171204
 5676    40.7171204
 5677    40.7171204
 5678    40.7171204
 Name: latitude, dtype: object,
 5670   -74.012766
 5671   -74.012766
 5672   -74.012766
 5673   -74.012766
 5674   -74.012766
 5675   -74.012766
 5676   -74.012766
 5677   -74.012766
 5678   -74.012766
 Name: longitude, dtype: float64,
 272    40.752367
 273    40.752367
 274    40.752367
 275    40.752367
 276    40.752367
 277    40.752367
 278    40.752367
 279    40.752367
 280    40.752367
 Name: latitude, dtype: object,
 272   -73.970335
 273   -73.970335
 274   -73.970335
 275   -73.970335
 276   -73.970335
 277   -73.970335
 278   -73.970335
 279   -73.970335
 280   -73.970335
 Name: longitude, dtype: float64]